@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Courier New", Courier, monospace;
}

/* Offset Border Utility Class */
.offset-border {
	position: relative;
	--offset-border-color: #addad5; /* Default Color */
}

.offset-border::before,
.offset-border::after {
	content: "";
	position: absolute;
	background-color: var(--offset-border-color);
	z-index: -1;
}

.offset-border::before {
	bottom: -3px;
	left: 1px;
	right: -3px;
	height: 2px;
}

.offset-border::after {
	right: -3px;
	top: 1px;
	bottom: -3px;
	width: 2px;
}

/* Custom Scrollbar */
:root {
	--primary-scroll: #000000; /* dark-600 */
	--secondary-scroll: #fd6794df; /* primary-200 */
	--secondary-scroll-hover: #fd6793; /* primary-100 */
}
* {
	scrollbar-color: var(--secondary-scroll) var(--primary-scroll);
}
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: var(--primary-scroll);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--secondary-scroll);
	border: 3px solid var(--primary-scroll);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondary-scroll-hover);
}
